.card-wrapper {
    width: 500px;
    height: 400px;
    margin: 10px;
}

/*.card-wrapper :hover {
    box-shadow: 0 8px 16px rgba(62,67,104,0.1);
    border-radius: 8px;
    min-height: 388px;
}*/

.card-able {

}

.card-avatar-wrapper {
    /*width: 450px;*/
    /*height: 160px;*/
    background: rgba(0,0,255,0.5);
}

.card-avatar-img {
    width: 450px;
    height: 160px;
    /*clip-path: inset(0 50px 0 50px);*/
    border: 1px solid black;
}

.card-info {
    width: 450px;
    margin: 10px;
    line-height: 21px;
    font-size: 14px;
}

.card-info-header {
    width: 450px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-button {
    /*width: 190px;*/
    border: 1px solid #DFE4EB;
    border-radius: 17px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px;
    font-weight: bold;
}

.card-button a {
    text-decoration: none;
    color: #4D7CFE;
}