.card-wrapper {
    width: 500px;
    /*height: 400px;*/
    min-height: 388px;
    margin: 10px;
}

.card-wrapper:hover {
    box-shadow: 0 8px 16px rgba(62,67,104,0.1);
    border-radius: 8px;
    min-height: 388px;
}

.card-able {
    position: absolute;
    top: 8px;
    right: 8px;
    background: #FFFFFF;
    border: 1px solid #DFE4EB;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 8px;
    font-weight: 500;
    height: 16px;
    letter-spacing: .5px;
    z-index: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}

.card-able-false {
    color: #FF432A;
    border: 1px solid rgba(255,208,201,.5);
}

.card-avatar {
    width: 453px;
    height: 160px;
    margin: 16px auto;
    position: relative;
}

.card-avatar-img {

}

.card-avatar-img::after {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.03);
    content: '';
    z-index: 1;
    width: 453px;
    height: 160px;
}

.card-info {
    width: 450px;
    margin: 16px;
    line-height: 21px;
    font-size: 14px;
}

.card-info-header {
    width: 450px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-button {
    position: absolute;
    border: 1px solid #DFE4EB;
    border-radius: 17px;
    box-sizing: border-box;
    font-size: 11px;
    font-weight: bold;
    margin: 16px;
    height: 34px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}

.card-button a {
    text-decoration: none;
    color: #4D7CFE;
}